<a href="https://colab.research.google.com/github/vamshiG1998/Python_2510/blob/main/02_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
employee_age = 26
employee_gpa = 8.6
employee_name = "vc"
employee_passed = True
employee_dob = "05/09/1998"

employee_1_absent_date = [1,30]
employee_2_absent_dates = [1,30]

#id gives the identity of the value where it is stored in the local memory

print(id(employee_age))
print(id(employee_gpa))
print(id(employee_name))
print(id(employee_passed))

print(id(employee_1_absent_date))
print(id(employee_2_absent_dates))

11642888
134148987527760
134149933932320
10545504
134148986633536
134148983908032

In [ ]:
#type gives the type of object
print(type(employee_age))
print(type(employee_gpa))
print(type(employee_name))
print(type(employee_passed))
# if we keep integers within the "" it will be considered as string
print(type(dob))

print(type(employee_1_absent_date))
print(type(employee_2_absent_dates))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'list'>

In [ ]:
# Operators
a=12
b=13
# Addition : perform mathematical addition operation
print(a+b)

25

In [ ]:

data_1= "Vamshi"
data_2= "Chandu"
# Concatenation : Is joining multiple strings together, using + operator
print(data_1+data_2)

VamshiChandu

In [ ]:
# we cannot concatenate str and int
print(data_2+b)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Interpolation  Is replacing placeholders with actual values
name = "GVK"
dob = "050998"
age = 26
gpa = 6.4

print(f"my name is {name} my age is {age} and my gpa is {gpa}")
print(f"my username is {name}{dob}")

my name is GVK my age is 26 and my gpa is 6.4
my username is GVK050998

In [ ]:
x = 11
y = 12
z = 13

print(x+y+z)

x,y,z = 11,12,13
print(x+y+z)

36
36

In [ ]:
x,y,z = 11,12,13,14

# x,y,z = 11,12,13,14 # ValueError: too many values to unpack (expected 3) --> LHS == RHS
print(x+y+z)

ValueError: too many values to unpack (expected 3)

In [ ]:
# Arithmetic Operators

n1=4
n2=6

print(f"sum of n1 and n2 is:{n1+n2}")
print(f"subtract of n1 and n2 is:{n1-n2}")
print(f"product of n1 and n2 is:{n1*n2}")
print(f"divison of n1 and n2 is:{n1/n2}")
print(F"modulus of n1 and n2 is:{n1//n2}")
print(f"floor divison of n1 and n2 is:{n1%n2}")
print(f"exponentioal of n1 and n2 is:{n1**n2}")

sum of n1 and n2 is:10
subtract of n1 and n2 is:-2
product of n1 and n2 is:24
divison of n1 and n2 is:0.6666666666666666
modulus of n1 and n2 is:0
floor divison of n1 and n2 is:4
exponentioal of n1 and n2 is:4096

In [ ]:
# Without Compound Assignment Operators
x = 10
x = x + 5
print(x)

# With Compound Assignment Operators
x = 10
print(id(x))
x+= 5 # x = 10 + 5 = 15
print(id(x))
print(x)

f = 10
print(id(x))
x*= 5 # 15 * 5
print(f)
print(x)

15
11642376
11642536
15
11642536
10
75

In [ ]:
# Comparison Operators

a = 1
b = 1
c = 3

print(a == b)
print(a == c)
print(a != b)
print(a > b)
print(b < c)
print(a >= b)
print(a <= b)

True
False
False
False
True
True
True

In [ ]:
# Logical Operators
# AND OR NOT

x = 3
y = 6
z = 2
a = 10

resultAND = x < z and y > a
print(resultAND)

resultAND = x > z and y > z
print(resultAND)

resultOR =  x < z or y > a
print(resultOR)

resultOR = x > z or a < y
print(resultOR)

resultNOT = x < z and y < a and z > a #F and T and F --> T
print(resultNOT)

False
True
False
True
False

In [ ]:
# List is a sequence data type

list_num = [5, 11, 14, 15]

is_present = 5 in list_num
print(is_present)

is_present = 20 in list_num
print(is_present)

is_present = 5 not in list_num
print(is_present)

is_present = 20 not in list_num
print(is_present)

True
False
False
True

In [ ]:
# string is also a sequence data type

name ="Vamshi"

is_present = "a" in name

print(is_present)

is_present = "i" not in name

print(is_present)

True
False

In [ ]:
# None data type
x = None

print(x)
print(type(x))

None
<class 'NoneType'>

In [ ]:
# Complex number in Python same as imaginary number in math

com_num =  1 + 2j

print(com_num)
print(type(com_num))

(1+2j)
<class 'complex'>

In [ ]:
# NOTE : Numbers are Immutable(Not Changeable) Data Types
# LIST : Lists are Mutable(Changeable) Data Types


list_nums = [10,20,30]
list_nums.append(50)

print(list_nums)
print(type(list_nums))

dict_data = {"name":"Ravi", "age":25}
print(type(dict_data))

[10, 20, 30, 50]
<class 'list'>
<class 'set'>
<class 'dict'>

In [13]:
set_nums = {10,20,30}
#set_nums.append(50) --> set type cannot be changeable

print(type(set_nums))

tuple_nums = (10,20,30)
#tuple_nums.append(50) --> tuple type cannot be changeable

print(tuple_nums)
print(type(tuple_nums))

<class 'set'>
(10, 20, 30)
<class 'tuple'>

In [60]:
# EMI Calculations

vehicle_value = 1500000
vehicle_downpayment = 350000
vehicle_interest_rate = 8
vehicle_loan_tenure = 3

total_loan_amount = vehicle_value - vehicle_downpayment

print(f"Total Loan Amount: {total_loan_amount}")

# Conersion of interest rate to monthly

monthly_interest_rate = (vehicle_interest_rate/100)/12

print(f"Monthly Interest Rate: {monthly_interest_rate}")

# calculation of loan tenure in months

loan_tenure_in_months = vehicle_loan_tenure * 12

print(f"Loan Tenure in Months: {loan_tenure_in_months}")

payable_amount = total_loan_amount + (total_loan_amount * monthly_interest_rate *loan_tenure_in_months)

print(f"Payable Amount: {payable_amount}")

# EMI Amount

emi_amount = total_loan_amount * monthly_interest_rate * (1+monthly_interest_rate)**loan_tenure_in_months/((1+monthly_interest_rate)**loan_tenure_in_months-1)

print(f"EMI Amount: {emi_amount}")

Total Loan Amount: 1150000
Monthly Interest Rate: 0.006666666666666667
Loan Tenure in Months: 36
Payable Amount: 1426000.0
EMI Amount: 36036.82028064579