<a href="https://colab.research.google.com/github/vamshiG1998/Python_2510/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
a = 10
b = 20

def math_ops():
  print(a+b)
  print(a-b)
  print(a*b)
  print(a%b)

math_ops()

30
-10
200
10

In [11]:
a = 200
b = 400

math_ops()

600
-200
80000
200

In [15]:
#functions with parameters

def math_ops(a,b):
  print(a+b)
  print(a-b)
  print(a*b)
  print(a/b)

math_ops(1,2)
print("*" * 50)
math_ops(11,3)

3
-1
2
0.5
**************************************************
14
8
33
3.6666666666666665

In [23]:
#positional based functions

def login(username,password):
  if username =="John" and password =="3212":
    print("Login success")
  else:
    print("Login Failed")

login("mike",6576)
login("john","5676")
login("John","3212")
login("3212","John")

Login Failed
Login Failed
Login success
Login Failed

In [26]:
#without default arguments

def emp_info(name,email,location):
  print(f'Hi {name}, your email is {email} and location is {location}')

emp_info("Peter","peter@gmail.com","Ashford")
emp_info("sajee@gmail.com","sajee","Leeds")

Hi Peter, your email is peter@gmail.com and location is Ashford
Hi sajee@gmail.com, your email is sajee and location is Leeds

In [32]:
#with default arguments

def emp_info(name="Elliot",email="elliot@gmail.com",location="London"):
  print(f'Hi {name}, your email is {email} and location is {location}')

emp_info()
emp_info("user","user@gmail.com")
emp_info("arun@gmail.com","arun","Hyd")

Hi Elliot, your email is elliot@gmail.com and location is London
Hi user, your email is user@gmail.com and location is London
Hi arun@gmail.com, your email is arun and location is Hyd

In [37]:
#with keyword argument -->

def emp_info(name,email,location="india"):
  print(f'Hi {name}, your email is {email} and location is {location}')

emp_info(name="nishanth",location="Gurgaon",email="nishanth@gmail.com")
emp_info(name="kayathiri",email="kayathiri@gmail.com")

Hi nishanth, your email is nishanth@gmail.com and location is Gurgaon
Hi kayathiri, your email is kayathiri@gmail.com and location is india

In [43]:
#Arbitary positional argurmnrt based(*args)

def add_unknown(*numbers):
  sum = 0
  for i in numbers:
    sum = sum + i
    print(sum)

add_unknown(1,3,5,7,9,11)
add_unknown(1,2,39)

1
4
9
16
25
36
1
3
42

In [47]:
#Arbitary keyword argument based(^kwargs)

def profile(**info):
  print(info)

profile(name="ravi")
profile(id=101,name="mike",location="usa")

{'name': 'ravi'}
{'id': 101, 'name': 'mike', 'location': 'usa'}

In [50]:
#sample example for keyargs

def cred_transactions(**transactions):
  print(transactions)

  total = 0
  for i in transactions:
    total = total + transactions[i]
  print(f'You have done {len(transactions)} and total value of transactions is {total}')

cred_transactions(jan=100,feb=900,march=890,june=1234)

{'jan': 100, 'feb': 900, 'march': 890, 'june': 1234}
You have done 4 and total value of transactions is 3124

In [3]:
def add(a,b):
  return a+b

print(add(10,20))

30

In [4]:
def math_op(a,b,c):
  return a+b
  return a-b
  return a*b

math_op(10,15,25)

25

In [8]:
def math_new(a,b,opr):
  if opr == "+":
    return a+b
  elif opr == "-":
    return a-b
  elif opr == "/":
    return a/b
  else:
    return "Invalid operation"

print(math_new(20,65,"-"))
print(math_new(50,12,"+"))
print(math_new(286,2,"/"))

-45
62
143.0